.facility-detail {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #000000a6;
  color: #fff; /* Couleur du texte blanche pour contraste */
  z-index: 10;
}

.facility-detail h2 {
  margin-top: 0;
  color: #fff; /* Couleur du texte blanche pour contraste */
}

.facility-detail p {
  margin: 5px 0;
}

.facility-detail button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #555; /* Couleur de fond des boutons */
  color: #fff; /* Couleur du texte des boutons */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.facility-detail button:hover {
  background-color: #777; /* Couleur de fond des boutons au survol */
}
