.fleet-container {
  display: flex;
  flex-direction: column; /* Aligner les éléments en colonne */
  justify-content: flex-start; /* Aligner le contenu en haut */
  align-items: center; /* Centrer le contenu horizontalement */
  margin-left: 250px; /* Espace réservé pour le menu */
  height: 100vh; /* Prendre toute la hauteur de l'écran */
}

.fleet-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin: 20px 0;
}
