body {
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;

  /* Centrage vertical et horizontal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-container h2 {
  color: white;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button[type="submit"] {
  background-color: #4CAF50; /* Bouton vert */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.login-container button[type="submit"]:hover {
  background-color: #45a049;
}

.login-container a {
  color: #00f;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
}
