@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(145deg, #1e1e1e, #383838);
  padding: 30px;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  padding: 15px 25px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.menu-icon {
  margin-right: 20px;
  font-size: 1.8em; /* Icônes plus grandes */
  transition: transform 0.3s;
}

.menu a:hover .menu-icon {
  transform: rotate(15deg); /* Légère rotation des icônes au survol */
}

.menu-title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
}
