.research-detail {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #000000a6;
    color: #fff; /* Couleur du texte blanche pour contraste */
    z-index: 10;
  }
  
  .research-detail h2 {
    margin-top: 0;
    color: #fff; /* Couleur du texte blanche pour contraste */
  }
  
  .research-detail p {
    margin: 5px 0;
  }
  
  .research-detail button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #555; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .research-detail button:hover {
    background-color: #777; /* Couleur de fond des boutons au survol */
  }
  