/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: none;
}

/* Autres règles CSS existantes */
.resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-content {
  width: calc(100% - 250px); /* Prenez en compte la largeur du menu latéral */
  max-width: 1200px;
  padding: 20px;
  position: relative; /* Assurez-vous que le contenu est positionné relativement */
  margin-left: 250px; /* Ajustez cette valeur pour prendre en compte le menu latéral */
}

.resources-content h1 {
  margin-bottom: 60px; /* Espace entre le titre et le contenu */
  text-align: center; /* Centre le titre */
}

.resources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px; /* Ajustez cette valeur pour descendre les images initialement */
  transition: transform 0.3s ease;
}

.resources-content.with-details .resources-list {
  transform: translateY(300px); /* Ajustez cette valeur pour correspondre à la hauteur du panneau de détails */
}

.building-card {
  width: 150px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.building-image {
  width: 100px;
  height: 100px;
}

.resource-detail {
  position: absolute;
  top: 100px; /* Ajustez cette valeur pour placer le panneau de détails */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #070707; /* Couleur de fond noir */
  color: #fff; /* Couleur du texte blanche pour contraste */
  z-index: 10;
}

.resource-detail h2 {
  margin-top: 0;
  color: #fff; /* Couleur du texte blanche pour contraste */
}

.resource-detail p {
  margin: 5px 0;
}

.resource-detail button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #555; /* Couleur de fond des boutons */
  color: #fff; /* Couleur du texte des boutons */
  border: none;
  border-radius: 4px;
}

.resource-detail button:hover {
  background-color: #777; /* Couleur de fond des boutons au survol */
}
